{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="shortcut icon" href="{%  static 'fav-icon.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: #87CEEB;">
    {% if user.is_authenticated %}
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <li class="navbar-brand dropdown">
                <a class="navbar-brand dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-user" style="margin-right: 5px;" aria-hidden="true"></i> {{ first_name }}</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item">Employee ID : {{ user_id }}</a></li>
                    <li><a class="dropdown-item">Position : {{ position }}</a></li>
                  </ul>
              </li>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="/mechanic/{{ first_name }}/{{ user_id }}/{{ position }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/mechaniclist/{{ first_name }}/{{ user_id }}/{{ position }}">Mechanic List</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/overdue/{{ first_name }}/{{ user_id }}/{{ position }}">Over Due Task : <span class="badge rounded-pill badge-notification bg-danger">{{ task_overdue_count }}</span></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      My Task : <span class="badge rounded-pill badge-notification bg-danger">{{ my_task_count }}</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="/mytask/{{ first_name }}/{{ user_id }}/{{ position }}">Total Task : <span class="badge rounded-pill badge-notification bg-danger">{{ my_task_count }}</span></a></li>
                      <li><a class="dropdown-item" href="/mytask_reviewed/{{ first_name }}/{{ user_id }}/{{ position }}">Reviewed Task : <span class="badge rounded-pill badge-notification bg-danger">{{ my_task_reviewed_count }}</span></a></li>
                      <li><a class="dropdown-item" href="/mytask_wait_review/{{ first_name }}/{{ user_id }}/{{ position }}">Wait to Review : <span class="badge rounded-pill badge-notification bg-danger">{{ mytask_wait_review_count }}</span></a></li>
                    </ul>
                  </li>
                </ul>
                <span class="navbar-text">
                    <a class="nav-link" href="/signout"><span><i class="fa fa-sign-out" aria-hidden="true" style="margin-right: 5px;"></i></i></span>Logout</a>
                </span>
              </div>
            </div>
          </nav>
    </div>
    <div class="search_bar" >
        <form method="POST" id="search">
        {% csrf_token %}
        <input class="form-control input_search" type="text" name="lookingfor" id="lookingfor" placeholder="Search by Task ID or Task Name"><span><input type="submit" value="Search" name="look" class="btn btn-primary search_btn">
        </form>
    </div>
    {% block content %}
    {% endblock %}
    {% endif %}
</body>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}" type="text/javascript"></script>
</html>